@model Bookings_Hotel.Pages.Manager.RoomsModel

<table class="table m-0">
    @if (Model.RoomsList.Count <= 0)
    {
        <tr>Không có phòng nào khớp với dữ liệu tìm kiếm của bạn. Vui lòng thử lại.</tr>
    } else
    {
        <thead>
            <tr>
                @foreach (var header in Model.TableHeaders)
                {
                    <th scope="col" class="bg-table-head">@header</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.RoomsList.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.RoomsList[i].RoomNumber</td>
                    <td>@Model.RoomsList[i].RoomType</td>
                    <td>@Model.RoomsList[i].Description</td>
                    <td>
                        @if (Model.RoomsList[i].Status == "Active")
                        {
                            <span class="status-value btn btn-sm btn-outline-success rounded-pill text-opacity-75 text-success">Hoạt động</span>
                        }
                        else
                        {
                            <span class="status-value btn btn-sm btn-outline-danger rounded-pill text-opacity-75 text-danger">Không hoạt động</span>
                        }
                    </td>


                    <td class="action-column">
                        <div class="dropdown dropstart">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-more-2-fill"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-page="Update" asp-route-id="@Model.RoomsList[i].RoomId"><i class="ri-edit-box-line text-primary text-opacity-75 fs-4"></i> Cập nhật</a></li>
                                <li>
                                    <a class="dropdown-item" onclick="confirmDelete(@Model.RoomsList[i].RoomId)">
                                        <i class="ri-delete-bin-line text-danger text-opacity-75 fs-4"></i> Xóa
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    }

</table>