@model Bookings_Hotel.Pages.Manager.Services.ServicesModel

<table class="table m-0" id="servicesTable">
    <thead>
        <tr>
            @foreach (var header in Model.TableHeaders)
            {
                <th scope="col" class="bg-table-head">@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Services.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model.Services[i].ServiceName</td>
                <td>@Model.Services[i].CreatedDate.ToString("dd-MM-yyyy")</td>
                <td>@Model.Services[i].UpdateDate?.ToString("dd-MM-yyyy")</td>
                <td>

                    @if (Model.Services[i].Status == "Active")
                    {
                        <span class="status-value btn btn-sm btn-outline-success rounded-pill text-opacity-75 text-success">Hoạt động</span>
                    }
                    else
                    {
                        <span class="status-value btn btn-sm btn-outline-danger rounded-pill text-opacity-75 text-danger">Không hoạt động</span>
                    }
                </td>
                <td class="action-column">
                    <div class="dropdown dropstart">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-2-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-page="Edit" asp-route-id="@Model.Services[i].ServiceId" class="btn btn-primary">
                                    <i class="ri-edit-box-line text-primary text-opacity-75 fs-4"></i>
                                    Cập nhật
                                </a>
                            </li>
                            <li>

                                <a class="dropdown-item" onclick="confirmDelete(@Model.Services[i].ServiceId)">
                                    <i class="ri-delete-bin-line text-danger text-opacity-75 fs-4"></i> Xóa
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

