@page
@model Bookings_Hotel.Pages.Manager.Booking.BookingViewsModel
@{
    ViewData["Title"] = "Quản lý Booking";
    Layout = "~/Pages/Shared/Layout_admin.cshtml";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<!-- Thêm CSS của Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Thêm thư viện jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Thêm JavaScript của Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h1 class="text-center my-4">Quản lý Booking</h1>
@* <div class="col-md-3 mb-3">
    <button class="btn btn-danger" id="btnCancelledBookings">
        Danh sách hủy đặt phòng
    </button>
</div> *@


<div class="container">
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="floorSelect" class="font-weight-bold">Chọn Tầng:</label>
            <select id="floorSelect" asp-for="SelectedFloor" asp-items="Model.Floors" class="form-control" onchange="loadRooms()">
                <option value="">-- Chọn Tầng --</option>
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label for="roomSelect" class="font-weight-bold">Chọn Phòng:</label>
            <select id="roomSelect" class="form-control" onchange="showBookingStatus(this.value)">
                <option value="">-- Chọn Phòng --</option>
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label for="monthSelect" class="font-weight-bold">Chọn Tháng:</label>
            <select id="monthSelect" class="form-control" onchange="showBookingStatus($('#roomSelect').val())">
                @for (int month = 1; month <= 12; month++)
                {
                    <option value="@month">@month</option>
                }
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label for="yearSelect" class="font-weight-bold">Chọn Năm:</label>
            <select id="yearSelect" class="form-control" onchange="showBookingStatus($('#roomSelect').val())">
                <option value="@DateTime.Now.Year">@DateTime.Now.Year</option>
                <option value="@DateTime.Now.AddYears(1).Year">@DateTime.Now.AddYears(1).Year</option>
            </select>
        </div>
    </div>

    <input type="hidden" id="currentYear" value="@DateTime.Now.Year" />
    <div id="bookingStatusGrid" class="mt-4" style="display: none;"></div>
    
</div>


<!-- Modal -->
<div class="modal fade" id="bookingDetailsModal" tabindex="-1" role="dialog" aria-labelledby="bookingDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chi tiết Booking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#bookingDetailsModal').modal('hide');">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Booking Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel">Đặt phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="wow fadeInUp" data-wow-delay="0.2s" id="roomData" data-price-per-day="@Model.typeRoomDTO.Price"
                     data-max-adult="@Model.typeRoomDTO.MaximumExtraAdult" data-max-child="@Model.typeRoomDTO"
                     data-extra-adult-fee="@Model.typeRoomDTO.ExtraAdultFee" data-extra-child-fee="@Model.typeRoomDTO.ExtraChildFee">
                    <form>
                        @Html.AntiForgeryToken()
                        <div class="row g-3">
                            <div class="text-center wow fadeInUp col-12" data-wow-delay="0.1s">
                                <h6 class="section-title text-center text-primary text-uppercase">Thời gian đặt phòng</h6>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" data-target-input="nearest">
                                    <input type="date" class="form-control" id="checkinDate"placeholder="Ngày Nhận Phòng" />
                                    <label for="checkinDate">Ngày Nhận Phòng</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" data-target-input="nearest">
                                    <input type="date" class="form-control" id="checkout" name="checkout" placeholder="Ngày Trả Phòng" />
                                    <label for="checkout">Ngày Trả Phòng</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="NumberOfAdult" name="NumberOfAdult" placeholder="Số Lượng Người Lớn" value="@Model.typeRoomDTO.NumberOfAdult" />
                                    <label for="NumberOfAdult">Số Lượng Người Lớn</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="NumberOfChild" name="NumberOfChild" placeholder="Số Lượng Trẻ Em" value="@Model.typeRoomDTO.NumberOfChild" />
                                    <label for="NumberOfChild">Số Lượng Trẻ Em</label>
                                </div>
                            </div>

                            <div class="col-12 d-none" id="surcharge-adult-alert">
                                <div class="text-start col-12">
                                    <small class="text-center text-primary" id="extra-adult-alert">* Thêm Người Lớn x <span id="surcharge-adult-quantity"></span> = <b><span id="surcharge-adult-fee"></span> VNĐ</b></small>
                                </div>
                            </div>
                            <div class="col-12 d-none" id="surcharge-child-alert">
                                <div class="text-start col-12">
                                    <small class="text-center text-primary" id="extra-child-alert">* Thêm Trẻ Em x <span id="surcharge-child-quantity"></span> = <b><span id="surcharge-child-fee"></span> VNĐ</b></small>
                                </div>
                            </div>

                            @* <div class="col-12 d-none">
                                <div class="text-start wow fadeInUp col-12" data-wow-delay="0.1s">
                                    <small class="text-center text-primary" id="extra-adult-alert">*Lưu ý: Thêm Người Lớn Sẽ Tính Thêm <b>@Model.typeRoomDTO.ExtraAdultFeeString VNĐ/Người</b></small>
                                </div>
                                <div class="text-start wow fadeInUp col-12" data-wow-delay="0.1s">
                                    <small class="text-center text-primary" id="extra-child-alert">*Lưu ý: Thêm Trẻ Em Sẽ Tính Thêm <b>@Model.typeRoomDTO.ExtraChildFeeString VNĐ/Người</b></small>
                                </div>
                            </div> *@

                            <div class="text-center wow fadeInUp col-12" data-wow-delay="0.1s">
                                <h6 class="section-title text-center text-primary text-uppercase">Tổng Tiền</h6>
                            </div>
                            <div class="col-sm-12 wow fadeIn" data-wow-delay="0.1s">
                                <div class="border rounded p-1">
                                    <div class="border rounded text-center p-4">
                                        <i class="fa fa-money-bill fa-2x text-primary mb-2"></i>
                                        <h2 class="mb-1"><span id="total-money">@Model.typeRoomDTO.PriceString</span> VNĐ</h2>
                                        <p class="mb-0">Tổng Tiền Phòng</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 wow fadeIn" data-wow-delay="0.1s">
                                <div class="border rounded p-1">
                                    <div class="border rounded text-center p-4">
                                        <i class="fa fa-money-bill fa-2x text-primary mb-2"></i>
                                        <h2 class="mb-1"><span id="total-money-vat">@Model.typeRoomDTO.PriceVATString</span> VNĐ</h2>
                                        <p class="mb-0">Tổng Tiền Sau Thuế (VAT 10%)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Ghi Chú" id="message" style="height: 100px"></textarea>
                                    <label for="message">Ghi Chú</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="button" id="submit-order-btn" class="btn btn-primary w-100 py-3">Thanh Toán</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Đặt tháng hiện tại
        $('#monthSelect').val(new Date().getMonth() + 1);

        function loadRooms() {
            const floorId = $('#floorSelect').val();
            $('#roomSelect').empty().append('<option value="">-- Chọn Phòng --</option>');

            if (floorId) {
                $.ajax({
                    url: '@Url.Page("BookingViews", "GetRoomsByFloor")',
                    type: 'GET',
                    data: { floorId },
                    success: function (data) {
                        data.forEach(room => {
                            $('#roomSelect').append(`<option value="${room.roomId}" 
                            data-price="${room.price}" 
                            data-maxAdult="${room.maxAdult}" 
                            data-maxChild="${room.maxChild}"
                            data-extraAdultFee="${room.extraAdultFee}" 
                            data-extraChildFee="${room.extraChildFee}"
                            data-maxExtraAdult="${room.maxExtraAdult}"
                            data-maxExtraChild="${room.maxExtraChild}">
                            ${room.roomNumber}
                            </option>`);
                        });
                    },
                    error: function (xhr, status, error) {
                        alert('Đã xảy ra lỗi khi lấy dữ liệu: ' + error);
                    }
                });
            }
        }

        function showBookingStatus(roomId) {
            if (!roomId) {
                $('#bookingStatusGrid').hide();
                return;
            }

            const selectedMonth = $('#monthSelect').val();
            const selectedYear = $('#yearSelect').val();

            $.ajax({
                url: '@Url.Page("BookingViews", "GetBookingStatus")',
                type: 'GET',
                data: { roomId, month: selectedMonth, year: selectedYear },
                success: function (data) {
                    const bookingDays = {};
                    data.forEach(status => {
                        for (let d = new Date(status.checkIn); d <= new Date(status.checkOut); d.setDate(d.getDate() + 1)) {
                            bookingDays[d.toISOString().split('T')[0]] = {  // Lưu theo định dạng yyyy-mm-dd
                                orderId: status.orderId,
                                orderStatus: status.orderStatus
                            };
                        }
                    });

                    const daysInMonth = new Date(selectedYear, selectedMonth, 0).getDate();
                    let calendarHTML = '<table class="table table-bordered text-center"><thead><tr><th>Chủ nhật</th><th>Thứ 2</th><th>Thứ 3</th><th>Thứ 4</th><th>Thứ 5</th><th>Thứ 6</th><th>Thứ 7</th></tr></thead><tbody>';

                    for (let row = 0, day = 1; row < 6; row++) {
                        calendarHTML += '<tr>';
                        for (let col = 0; col < 7; col++) {
                            if (row === 0 && col < new Date(selectedYear, selectedMonth - 1, 1).getDay()) {
                                calendarHTML += '<td></td>';
                            } else if (day <= daysInMonth) {
                                const date = new Date(selectedYear, selectedMonth - 1, day);
                                const dateStr = date.toISOString().split('T')[0];  // Định dạng ngày theo yyyy-mm-dd
                                const bookingInfo = bookingDays[dateStr];
                                let statusText = 'Còn Trống';
                                let bgColor = '#ccffcc';

                                if (bookingInfo) {
                                    if (bookingInfo.orderStatus === "Success") {
                                        statusText = 'Đã được đặt';
                                        bgColor = '#ffcccc';
                                    }
                                    else if (bookingInfo.orderStatus === "Waiting payment") {
                                        statusText = 'Chờ thanh toán';
                                        bgColor = '#ffffcc';
                                    }
                                }
                            

                                const orderId = bookingInfo ? bookingInfo.orderId : '';
                                calendarHTML += `<td style="background-color: ${bgColor}; padding: 10px;" data-date="${dateStr}" onclick="showBookingDetails(${orderId})">${day}<br>${statusText}</td>`;
                                day++;
                            } else {
                                calendarHTML += '<td></td>';
                            }
                        }
                        calendarHTML += '</tr>';
                    }
                    calendarHTML += '</tbody></table>';

                    $('#bookingStatusGrid').html(`<h4 class="text-center">Lịch Booking - Tháng ${selectedMonth} Năm ${selectedYear}</h4><div id="calendar">${calendarHTML}</div>`).show();
                },
                error: function (xhr, status, error) {
                    alert('Đã xảy ra lỗi khi lấy dữ liệu: ' + error);
                }
            });
        }

        // Hàm hiển thị chi tiết đặt phòng
        function showBookingDetails(orderId) {
            if (!orderId) return;

            $.ajax({
                url: '@Url.Page("BookingViews", "GetBookingDetails")',
                type: 'GET',
                data: { orderId },
                success: function (data) {
                    $('#bookingDetailsModal .modal-body').html(`
                                        <h5>Chi tiết Booking</h5>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr><th>Số Phòng:</th><td>${data.roomNumber}</td></tr>
                                                <tr><th>Loại Phòng:</th><td>${data.roomType}</td></tr>
                                                <tr><th>ID Đặt Phòng:</th><td>${data.orderId}</td></tr>
                                                <tr><th>ID Người Dùng:</th><td>${data.userId}</td></tr>
                                                <tr><th>Họ Tên Người Dùng:</th><td>${data.userName}</td></tr>
                                                <tr><th>Check-In:</th><td>${new Date(data.checkIn).toLocaleDateString()}</td></tr>
                                                <tr><th>Check-Out:</th><td>${new Date(data.checkOut).toLocaleDateString()}</td></tr>
                                                <tr><th>Tổng Tiền:</th><td>${data.totalAmount}</td></tr>
                                            </tbody>
                                        </table>
                                    `);
                    $('#bookingDetailsModal').modal('show');
                },
                error: function (xhr, status, error) {
                    alert('Đã xảy ra lỗi khi lấy chi tiết đặt phòng: ' + error);
                }
            });
            $(document).on('click', '.close', function () {
                $('#bookingDetailsModal').modal('hide'); // Đóng modal khi nhấn vào nút "X"
            });

        }
      


        $(document).ready(function () {
            createOrder();
            $(document).on('click', '#bookingStatusGrid td', function () {
                // Lấy ngày từ thuộc tính data-date (đã được định dạng theo yyyy-mm-dd)
                const selectedDate = $(this).data('date');

                // Kiểm tra nếu selectedDate không hợp lệ, thông báo lỗi
                if (!selectedDate || isNaN(new Date(selectedDate).getTime())) {
                    alert("Ngày không hợp lệ hoặc không được đặt đúng định dạng yyyy-mm-dd.");
                    return;
                }

                // Tạo đối tượng ngày hiện tại và loại bỏ thời gian (so sánh chỉ ngày)
                const today = new Date();
                today.setHours(0, 0, 0, 0); // Đảm bảo không so sánh theo giờ, chỉ ngày

                // Tạo đối tượng ngày từ selectedDate
                const selectedDateObj = new Date(selectedDate);
                selectedDateObj.setHours(0, 0, 0, 0);

                // Kiểm tra điều kiện nếu ngày lớn hơn hôm nay và có trạng thái "Còn Trống"
                if ($(this).text().includes("Còn Trống") && selectedDateObj >= today) {
                    // Nếu ngày chọn là ngày trong tương lai và phòng còn trống, thực hiện đặt phòng
                    // Bạn có thể mở Modal hoặc tiếp tục xử lý khác tại đây
                    $('#bookingModal').modal('show');
                    const checkinDate = new Date(selectedDateObj);
                    checkinDate.setDate(checkinDate.getDate() + 2);
                    $('#checkinDate').val(checkinDate.toISOString().split('T')[0]);
                } else if ($(this).text().includes("Còn Trống") && selectedDateObj < today) {
                    // Nếu ngày chọn đã qua hoặc là hôm nay, hiển thị thông báo lỗi
                    alert("Ngày đã chọn không hợp lệ. Vui lòng chọn ngày trong tương lai.");
                } else {
                    // Trường hợp nếu phòng không còn trống
                    alert("Phòng không còn trống, xem chi tiết đặt phòng.");
                }
            });

            
            // Đóng modal khi nhấn nút Đóng
            $('#btnCloseBookingModal').on('click', function () {
                $('#bookingModal').modal('hide'); // Đóng modal
            });
            $(document).on('click', '.close', function () {
                $('#bookingModal').modal('hide'); // Đóng modal khi nhấn vào nút "X"
            });

        });
     
        $(document).ready(function() {
    // Gọi hàm calculateTotal khi có thay đổi
    $('#checkinDate, #checkout, #NumberOfAdult, #NumberOfChild').on('change', calculateTotal);
});

function calculateTotal() {
            const checkinDate = new Date($('#checkinDate').val());
    const checkoutDate = new Date($('#checkout').val());

    // Kiểm tra ngày hợp lệ
    if (isNaN(checkinDate) || isNaN(checkoutDate) || checkoutDate <= checkinDate) {
        alert('Vui lòng chọn ngày hợp lệ!');
        return;
    }

            // Lấy giá trị từ data-* attributes trong thẻ option đã chọn
            const selectedOption = $('#roomSelect option:selected');

            // Lấy các giá trị từ thuộc tính data của option đã chọn
            const roomPricePerDay = parseFloat(selectedOption.data('price')) || 0;
            const maxAdult = parseInt(selectedOption.data('maxadult')) || 0;
            const maxChild = parseInt(selectedOption.data('maxchild')) || 0;
            const maxExtraAdult = parseInt(selectedOption.data('maxextraadult')) || 0;
            const maxExtraChild = parseInt(selectedOption.data('maxextrachild')) || 0;
            const extraAdultFee = parseFloat(selectedOption.data('extraadultfee')) || 0;
            const extraChildFee = parseFloat(selectedOption.data('extrachildfee')) || 0;

            // Sử dụng hoặc hiển thị các giá trị
            console.log("Room Price per Day:", roomPricePerDay);
            console.log("Max Adult:", maxAdult);
            console.log("Max Child:", maxChild);
            console.log("Extra Adult Fee:", extraAdultFee);
    console.log("Extra Child Fee:", extraChildFee);
                                    console.log("maxExtraAdult:", maxExtraAdult);
            console.log("maxExtraChild:", maxExtraChild);

    // Tính số ngày ở
    const days = Math.ceil((checkoutDate - checkinDate) / (1000 * 60 * 60 * 24));
    let totalRoomCost = days * roomPricePerDay;

    let numberOfAdult = parseInt($('#NumberOfAdult').val()) || 0;
            let numberOfChild = parseInt($('#NumberOfChild').val()) || 0;
    if (numberOfAdult > maxAdult + maxExtraAdult) {
      alert('Quá số lượng người lớn');
        $('#NumberOfAdult').val(maxAdult + maxExtraAdult);
        numberOfAdult = maxAdult + maxExtraAdult;
    }
    if (numberOfChild > maxChild + maxExtraChild) {
        alert('Quá số lượng trẻ em');
        $('#NumberOfChild').val(maxChild + maxExtraChild);
        numberOfChild = maxChild + maxExtraChild;
    }
    // Tính phụ phí nếu có
    
    let extraAdult = Math.max(0, numberOfAdult - maxAdult);
    let extraChild = Math.max(0, numberOfChild - maxChild);

    let extraAdultCost = extraAdult * extraAdultFee * days;
    let extraChildCost = extraChild * extraChildFee * days;

    totalRoomCost += extraAdultCost + extraChildCost;

    // Tính thuế VAT
    const vatRate = 0.1; // Thuế VAT 10%
    const totalCostWithVAT = totalRoomCost * (1 + vatRate);

    // Hiển thị tổng tiền
    $('#total-money').text(totalRoomCost.toLocaleString('vi-VN'));
    $('#total-money-vat').text(totalCostWithVAT.toLocaleString('vi-VN'));

    // Hiển thị phụ phí nếu có
    if (extraAdult > 0) {
        $('#surcharge-adult-alert').removeClass('d-none');
        $('#surcharge-adult-quantity').text(extraAdult);
        $('#surcharge-adult-fee').text(extraAdultCost.toLocaleString('vi-VN'));
    } else {
        $('#surcharge-adult-alert').addClass('d-none');
    }

    if (extraChild > 0) {
        $('#surcharge-child-alert').removeClass('d-none');
        $('#surcharge-child-quantity').text(extraChild);
        $('#surcharge-child-fee').text(extraChildCost.toLocaleString('vi-VN'));
    } else {
        $('#surcharge-child-alert').addClass('d-none');
    }
}
        
function createOrder(){
            $('#submit-order-btn').on('click', function () {
                const data = {
                    RoomId: parseInt($('#roomSelect option:selected').val() || 0),
                        CheckInDate: $('#checkinDate').val(),
                        CheckOutDate: $('#checkout').val(),
                    SpecialRequest: $('#message').val() || '',
                        NumberOfAdult: $('#NumberOfAdult').val(),
                        NumberOfChild: $('#NumberOfChild').val(),
                };
                $.ajax({
                    url: '@Url.Page("BookingViews", "CreateBooking")',
                    type: 'POST',
                    data: data,
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    beforeSend: function () {
                       
                    },
                    success: function (response) {
                        // On success, redirect to the payment page
                        if (response.success) {
                            window.location.href = '/Payment?oid=' + response.data;
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Đặt Phòng Thất Bại',
                                text: response.message
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                        if (xhr.status === 401) {  // Detect 401 Unauthorized error
                            window.location.href = '/login';
                        } else {
                           
                        }

                        var errorMessage = xhr.responseText; // Log the server error message
                        console.log(errorMessage);
                    }
                });

            });
}
    </script>



}


