@page
@model Bookings_Hotel.Pages.PaymentModel
@{
    ViewData["Title"] = "Payment";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Payment</h6>
            <h1 class="mb-5"><img src="~/template/img/VietinbankLogo.png" width="200" alt=""></h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-12 text-center">
                        <img id="qrImage" class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s"
                             src="" alt="QR Code">

                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form>
                        @Html.AntiForgeryToken()
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" value="@Model.paymentDTO.BankName" disabled>
                                    <label for="name">Bank</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating input-group">
                                    <input type="text" class="form-control" id="accountNumber"
                                           value="@Model.paymentDTO.AccountNumber" disabled>
                                    <label for="accountNumber">Account Number</label>
                                    <button class="btn btn-outline-secondary" type="button">
                                        <i class="fa-regular fa-copy"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="money" value="@Model.paymentDTO.MoneyString VNĐ" disabled>
                                    <label for="money">Money</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating input-group">
                                    <input type="text" class="form-control" id="accountNumber"
                                           value="@Model.paymentDTO.CurrencyCode" disabled>
                                    <label for="accountNumber">Description</label>
                                    <button class="btn btn-outline-secondary" type="button">
                                        <i class="fa-regular fa-copy"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="button" id="check-btn">Check</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            //Genderate QR Code
            $('#qrImage').attr('src', `https://img.vietqr.io/image/@Model.paymentDTO.BankName-@Model.paymentDTO.AccountNumber-compact2.png?amount=@Model.paymentDTO.Money&addInfo=@Model.paymentDTO.CurrencyCode&accountName=@Model.paymentDTO.AccountName`);

            checkPayment();
        });

        function checkPayment() {
            $('#check-btn').click(function(){
                $.ajax({
                    url: '/Payment?handler=CheckPayment',
                    type: 'POST',
                    data: {
                        orderID: @Model.paymentDTO.OrderID
                    },
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    beforeSend: function () {
                        Swal.fire({
                            title: 'Processing',
                            text: 'Please wait while we checking...',
                            allowOutsideClick: false,
                            showConfirmButton: false,
                            willOpen: () => {
                                Swal.showLoading();
                            }
                        });
                    },
                    success: function (response) {
                        // On success, redirect to the payment page
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Payment Successful',
                                text: 'Check your email to get your booking details!'
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Payment Failed',
                                text: 'Please check the transfer amount and transfer content again, if there is any problem please contact my customer service'
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'There was an error processing your checking!'
                        });

                        var errorMessage = xhr.responseText; // Log the server error message
                        console.log(errorMessage);
                    }
                });
            })
        }
    </script>
}