@page
@model Bookings_Hotel.Pages.RoomDetailModel
@{
    ViewData["Title"] = "Room Detail";
}
@section Styles {
     
    @* @Html.Raw("<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.9/dist/css/splide.min.css\">") *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@splidejs/splide@3.6.9/dist/css/splide.min.css">
    <link rel="stylesheet" href="~/template/css/room-detail.css">
}
<!-- Room Detail -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="thumbnail_slider">
                            <!-- Primary Slider Start-->
                            <div id="primary_slider" class="splide">
                                <div class="splide__track">
                                    <ul class="splide__list">
                                        <li class="splide__slide">
                                            <img src="~/template/img/room-1.jpg" alt="Image 1">
                                        </li>
                                        <li class="splide__slide">
                                            <img src="~/template/img/room-2.jpg" alt="Image 2">
                                        </li>
                                        <li class="splide__slide">
                                            <img src="~/template/img/room-3.jpg" alt="Image 3">
                                        </li>
                                        <li class="splide__slide">
                                            <img src="~/template/img/room-2.jpg" alt="Image 4">
                                        </li>
                                        <li class="splide__slide">
                                            <img src="~/template/img/room-1.jpg" alt="Image 4">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Primary Slider End-->
                            <!-- Thumbnail Slider Start-->
                            <div id="thumbnail_slider" class="splide">
                                <div class="splide__track">
                                    <ul class="splide__list">
                                        <li class="splide__slide">
                                            <img src="~/template/img/room-1.jpg" alt="Thumbnail 1">
                                        </li>
                                        <li class="splide__slide">
                                            <img src="~/template/img/room-2.jpg" alt="Thumbnail 2">
                                        </li>
                                        <li class="splide__slide">
                                            <img src="~/template/img/room-3.jpg" alt="Thumbnail 3">
                                        </li>
                                        <li class="splide__slide">
                                            <img src="~/template/img/room-2.jpg" alt="Thumbnail 4">
                                        </li>
                                        <li class="splide__slide">
                                            <img src="~/template/img/room-1.jpg" alt="Thumbnail 4">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Thumbnail Slider End-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="section-title text-start text-primary text-uppercase">Thông Tin Phòng</h6>
                <h1 class="mb-4">Phòng <span class="text-primary text-uppercase">@Model.typeRoomDTOGet.TypeName</span></h1>
                <p class="mb-4">@Model.typeRoomDTOGet.Description</p>
                <div class="row g-3 pb-4">
                    <div class="col-sm-12 wow fadeIn" data-wow-delay="0.1s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-money-bill fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1">@Model.typeRoomDTOGet.PriceString VNĐ</h2>
                                <p class="mb-0">Mỗi Đêm</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-bed fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1">@Model.typeRoomDTOGet.NumberOfBed</h2>
                                <p class="mb-0">Giường</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-male fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1">@Model.typeRoomDTOGet.NumberOfAdult</h2>
                                <p class="mb-0">Người Lớn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-child fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1">@Model.typeRoomDTOGet.NumberOfChild</h2>
                                <p class="mb-0">Trẻ Em</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3 pb-4">
                    <div class="text-center wow fadeInUp col-12" data-wow-delay="0.1s">
                        <h6 class="section-title text-center text-primary text-uppercase">Dịch Vụ Tặng Kèm</h6>
                    </div>
                    @foreach (var serviceName in Model.typeRoomDTOGet.LstService)
                    {
                        <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="border rounded p-1">
                                <div class="border rounded text-center p-4">
                                    <i class="fa fa-star fa-2x text-primary mb-2"></i>
                                    <p class="mb-1">@serviceName</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" asp-page="Booking" asp-route-id="@Model.typeRoomDTOGet.TypeId">Đặt Phòng Ngay</a>
            </div>
        </div>
    </div>
</div>
<!-- Room Detail -->

<!-- related products -->
@* <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Detail</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Special Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Detail</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Sale Item</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Detail</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Popular Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Detail</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Sale Item</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Detail</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $120.00 - $280.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Detail</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Special Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Detail</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Popular Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Detail</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@
<!-- related products -->

@section Scripts{
    
    
    <script src="https://cdn.jsdelivr.net/npm/@@splidejs/splide@3.6.9/dist/js/splide.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var primarySlider = new Splide('#primary_slider', {
                type: 'fade',
                heightRatio: 0.5,
                pagination: false,
                arrows: false,
                cover: true,
            }).mount();

            var thumbnailSlider = new Splide('#thumbnail_slider', {
                fixedWidth: 100,
                fixedHeight: 64,
                isNavigation: true,
                gap: 10,
                focus: 'center',
                pagination: false,
                cover: true,
                breakpoints: {
                    600: {
                        fixedWidth: 66,
                        fixedHeight: 40,
                    },
                },
            }).mount();

            primarySlider.sync(thumbnailSlider).mount();
        });

    </script>
}
