@page
@model Bookings_Hotel.Pages.RoomModel
@{
    ViewData["Title"] = "Room";
}
<!-- Room Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Our Rooms</h6>
            <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Rooms</span></h1>
        </div>

        <!-- Filter Start -->
        <div class="container-fluid pb-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="bg-white shadow" style="padding: 35px;">
                    <div class="row align-items-center justify-content-center mb-2">
                        <span class="text-primary text-uppercase fw-bold">Filter</span>
                    </div>

                    <form method="get">
                        <div class="row g-2">
                            <div class="col-md-10">
                                <div class="row g-2">
                                    <div class="col-md-3">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="priceMin" name="PriceMin" value="@Model.PriceMin" placeholder="price">
                                            <label for="priceMin">Price Min</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="priceMax" name="PriceMax" value="@Model.PriceMax" placeholder="price">
                                            <label for="priceMax">Price Max</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-floating">
                                            <select asp-for="SortPrice" class="form-select" id="sortPrice" name="SortPrice" aria-label="Floating label select example">
                                                <option value="3">Common Variation</option>
                                                <option value="1">Price Ascending</option>
                                                <option value="2">Price Descending</option>
                                            </select>
                                            <label for="sortOrder">Sort By Price</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="dropdown h-100">
                                            <button class="form-select text-start h-100 w-100" type="button"
                                                    id="dropdownMenuButton" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Services
                                            </button>
                                            <ul class="dropdown-menu w-100 p-2" aria-labelledby="dropdownMenuButton"
                                                style="z-index: 1000;">
                                                @foreach (var service in Model.Services)
                                                {
                                                    <li class="my-2">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                   name="SelectedServices" value="@service.ServiceName"
                                                                   id="@service.ServiceId"
                                                            @(Model.SelectedServices.Contains(service.ServiceName) ? "checked" : "")>
                                                            <label class="form-check-label" for="checkbox1">
                                                                @service.ServiceName
                                                            </label>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary w-100 h-100" type="submit">Apply</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- Filter End -->

        <div class="row g-4">
            @foreach (var room in Model.Rooms)
            {
                var rate = room.Reviews.Any() ? room.Reviews.Average(r => r.Rating) : 0;
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/template/@room.RoomImages.FirstOrDefault()" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">
                                @room.Price/Night
                            </small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">@room.Type.TypeName</h5>
                                <div class="ps-2 rating" data-rating="@rate"></div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3">
                                    <i class="fa fa-bed text-primary me-2"></i>3
                                    Bed
                                </small>
                                <small class="border-end me-3 pe-3">
                                    <i class="fa fa-bath text-primary me-2"></i>2
                                    Bath
                                </small>
                                <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                            </div>
                            <p class="text-body mb-3">@room.Description</p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-sm btn-primary rounded py-2 px-4" asp-page="RoomDetail" asp-route-id="@room.RoomId">View Detail</a>
                                <a class="btn btn-sm btn-dark rounded py-2 px-4" asp-page="Booking" asp-route-id="@room.RoomId">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Room End -->
<!-- Testimonial Start -->
<div class="container-xxl testimonial mt-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s"
     style="margin-bottom: 90px;">
    <div class="container">
        <div class="owl-carousel testimonial-carousel py-5">
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>
                    Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet
                    diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/template/img/testimonial-1.jpg"
                         style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Client Name</h6>
                        <small>Profession</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>
                    Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet
                    diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/template/img/testimonial-2.jpg"
                         style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Client Name</h6>
                        <small>Profession</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>
                    Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet
                    diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="~/template/img/testimonial-3.jpg"
                         style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Client Name</h6>
                        <small>Profession</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Scripts Start-->
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ratings = document.querySelectorAll('.rating');

            ratings.forEach(function (ratingElement) {
                var rating = ratingElement.getAttribute('data-rating');

                if (!rating) {
                    rating = 0;
                } else {
                    rating = parseFloat(rating);
                }

                for (var i = 0; i < 5; i++) {
                    var star = document.createElement('small');
                    star.classList.add('fa', 'fa-star');

                    if (i < Math.floor(rating)) {
                        star.style.color = 'gold';
                    } else if (i < rating) {
                        star.style.color = 'gold';
                        star.classList.add('fa-star-half-alt');
                    } else {
                        star.style.color = 'lightgray';
                    }
                    ratingElement.appendChild(star);
                }
            });
        });
    </script>
}
<!-- Scripts End-->
