@page
@model Bookings_Hotel.Pages.Manager.TypeRoom.TypeRoomModel

@{
    ViewData["Title"] = "Type Room List";
    Layout = "~/Pages/Shared/Layout_admin.cshtml";
}

<head>
    <link rel="stylesheet" href="~/admin_template/css/room.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

</head>

<div class="main-header d-flex justify-content-between">
    <div>
        <span class="mb-0 fs-3 fw-bold">Danh sách các loại phòng</span>
    </div>

    <div>
        <a class=" btn btn-primary rounded-pill px-4" asp-page="Create">Thêm loại phòng</a>
    </div>
</div>

<div class="search-bar d-flex justify-content-start">
@*     <div class="me-2">
        <select class="form-select" aria-label="Default select example">
            <option value="1">All Status</option>
            <option value="2">Booked</option>
            <option value="3">Available</option>
        </select>
    </div> *@

    <div class="d-flex justify-content-between">
        <input class="form-control me-2" type="search" placeholder="Hãy nhập gì đó..." aria-label="Search" name="keyword">
        <button class="btn btn-primary me-0" type="submit"><i class="ri-search-line"></i></button>
    </div>
</div>

<div class="table-container">
    <table class="table m-0">
        <thead>
            <tr>
                @foreach (var header in Model.TableHeaders)
                {
                    <th scope="col" class="bg-table-head">@header</th>
                }
                @* <th scope="col" class="bg-table-head">Description</th>  *@
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.TypeRooms.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.TypeRooms[i].TypeName</td>
                    <td>@Model.TypeRooms[i].NumberOfBed</td>
                    <td>@Model.TypeRooms[i].NumberOfAdult</td>
                    <td>@Model.TypeRooms[i].MaximumExtraAdult</td>
                    <td>@Model.TypeRooms[i].ExtraAdultFee</td>
                    <td>@Model.TypeRooms[i].NumberOfChild</td>
                    <td>@Model.TypeRooms[i].MaximumExtraChild</td>
                    <td>@Model.TypeRooms[i].ExtraChildFee</td>

                    <td>@Model.TypeRooms[i].Price</td>

                    <td class="action-column">
                        <div class="dropdown dropstart">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-more-2-fill"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-page="Update" asp-route-id="@Model.TypeRooms[i].TypeId"><i class="ri-edit-box-line text-primary text-opacity-75 fs-4"></i> Cập nhật</a></li>
                                <li>
                                    <a class="dropdown-item" onclick="confirmDelete(@Model.TypeRooms[i].TypeId)">
                                        <i class="ri-delete-bin-line text-danger text-opacity-75 fs-4"></i> Xóa
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div class="pagination-container ">
    <div class="me-2">
        <select class="form-select" aria-label="Default select example" name ="page-size">
            <option value="1">10</option>
            <option value="2">20</option>
            <option value="3">30</option>
        </select>
    </div>

    <div class="">
        <nav aria-label="...">
            <ul class="pagination m-0">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link " href="#">1</a></li>
                <li class="page-item " aria-current="page">
                    <a class="page-link text-dark" href="#">2</a>
                </li>
                <li class="page-item "><a class="page-link text-dark" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link text-dark" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
@Html.AntiForgeryToken()
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function confirmDelete(typeRoomId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to delete this type Room?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Nếu người dùng xác nhận, thực hiện chuyển hướng đến handler để xóa
                deleteRoom(typeRoomId);
            }
        });
    }


    function deleteRoom(typeRoomId) {
        $.ajax({
            url: '/Manager/TypeRoom/List?handler=Delete',
            type: 'POST',
            data: {
                id: typeRoomId
            },
            headers: {
                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            },
            beforeSend: function () {
                Swal.fire({
                    title: 'Processing',
                    text: 'Please wait while we checking...',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    willOpen: () => {
                        Swal.showLoading();
                    }
                });
            },
            success: function (response) {
                // On success, redirect to the payment page
                if (response.success) {
                    window.location.reload();
                }

            },
            error: function (xhr, status, error) {
                // Handle error response
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'There was an error processing your checking!'
                });

                var errorMessage = xhr.responseText; // Log the server error message
                console.log(errorMessage);
            }
        });
    }





</script></table>
